@font-face {
    font-family: "Lovelo";
    src: url("/assets/fonts/Lovelo-Black.eot");
    src: url("/assets/fonts/Lovelo-Black.woff") format("woff"),
        url("/assets/fonts/Lovelo-Black.otf") format("opentype");
}

* {
    margin: 0;
    padding: 0;
}

body {
    /* background-image: linear-gradient(to bottom, #f04c3a, #ffffff); */
    background-color: #969690;
    margin: 0;
    font-size: 1.4vw;
    
}
h1,
h2 {
    margin: 1%;
    letter-spacing: 4px;    
}

a > h1 {
    color: #000;
}

a > h2 {
    color: #000;
}

a > h2:hover {
    color: #000;
}

a > h1:hover {
    color: #000;
}


h3 {
    color: pink;
    letter-spacing: 4px;
    font-family: 'Lovelo', sans-serif;
    font-size: 1.5vw;
}

h4 {
    color:#000000;
    font-family: 'Lovelo', sans-serif;
    letter-spacing: 4px;
}
.small-h4 {
    font-size: 16px;
    color: #000;
}
h5 {
    color: pink;
    font-family: 'Lovelo', sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 1vh;
}

p {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1.5px;
    font-weight: 200;
    display: block;
}

a {
    font-family: 'Lovelo', sans-serif;
    text-transform: uppercase;
    color: #edddda;
    letter-spacing: 3px;
    font-size: 10px;
}

a::after, a:hover {
    color: pink;
    text-decoration: none;
}
.italic {
    font-style: italic;
}

.title {
    letter-spacing: 5px;
}
.subtitle {
    letter-spacing: 5px;
}
hr {
    border: none;
    border-top: 15px dotted black;

}

/* Horizontal line */
.left-side {
    width: 36%;
    float: left;
}
.right-side {
    width: 63%;
    float: right;
    border-top: 15px solid black;
    border-radius: 999em 40px 40px 999em;
}
.dots-small {
    border-top: 7px dotted black;
    width: 100%;
    float: left;
}
.right-side-small {
    width: 100%;
    float: right;
    border-top: 7px solid black;
    border-radius: 999em 40px 40px 999em;
}


/* Sliding text effect */
.wrap {
    margin-top: 15vw;
}
.line {
  width: 100vw;
}
.left, .right {
  width: 50vw;
  overflow: hidden;
  display: inline-block;
}
.left {
  color:pink;
  transform: skew(0deg, -15deg);
}
.right {
  color: #e93f6f;
  transform: skew(0deg, 15deg);
}
.left .content {
  width: 100vw;
  text-align: center;
}
.right .content {
  width: 100vw;
  text-align: center;
  transform: translate(-50vw);
}
span {
  display: inline-block;
  font-family: "Lovelo";
  font-size: 7vw;
  text-transform: uppercase;
  line-height: .95;
  transition: ease-out .6s;
}

/* Clients logos */
img {
    width: 100px;
}

.apota-logo {
    height: 50px;
    width: auto;
}

.kiosko-logo {
    height: 50px;
    width: auto;
}

/* Footer */
footer {
    background-color: #000;
    color:#edddda;
}

footer a {
    font-size: 11px;
}

@media screen and (max-width: 740px) {
    h1 {
        font-size: 4vw;
    }
    h2 {
        font-size: 3vw;
    }
    h3 {
        font-size: 2.5vw;
    }
    .small-h4 {
        font-size: 1.8vw;
    }
    body {

        font-size: 2vw;
    }
    .wrap {
        margin-top: 25vw;
    }
    footer p {
        font-size: 9px;
    }
}


@media screen and (max-width: 690px) {
    img {
        width: 80px;
    }
    .apota-logo {
        height: 30px;
    }
    .kiosko-logo {
        height: 30px;
    }
    body {

        font-size: 2.5vw;
    }
   
}
@media screen and (max-width: 550px) {
    img {
        width: 70px;
    }
}
@media screen and (max-width: 470px) {
    .footer-link {
        margin: 5px !important;
    }
    h1 {
        font-size: 5vw;
    }
    h2 {
        font-size: 4vw;
    }
    h3 {
        font-size: 3vw;
    }   
    .small-h4 { 
        font-size: 2.5vw;
    }
  
    body {
        font-size: 3vw;
    }
   
}